
.map-nav>p{
    position: relative;
    font-size: 1rem;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 900px;
    width: auto;
    padding: 0px 10px;
    text-align: center;
    color: #fff;
}

#b-center{
    position: absolute;
    display: flex;
    z-index: 1;

    width: 5em;
    height: 5em;

    bottom: 15vh;
    right: 10px;

}

#b-administer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
    border-radius: 10px;
    border: 0px white solid;
    background-color: #5F4B86;
    font-size: 11pt;
    color: #fff;
}
#b-administer:hover{
    cursor: pointer;
    box-shadow: black 0px 0px 6px 2px inset;
}

#a-profil{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{cursor: pointer;}

#profil{
    width: 32px;
    height: 32px;
}
